@{
    ViewData["Title"] = "Welcome to Crawler Demo";
}

<h1>ViewData["Title"]</h1>
<br />

<form asp-controller="HomeController" method="post">
    <input type="submit" value="Crawl" formaction="Crawl" /> &nbsp;&nbsp;&nbsp;
    <input type="submit" value="Query" formaction="Query" /> &nbsp;&nbsp;&nbsp;
    <input type="submit" value="Test" formaction="Test" /> &nbsp;&nbsp;&nbsp;
    <input type="submit" value="DeleteDB" formaction="DeleteDB" /> &nbsp;&nbsp;&nbsp;
</form>

<h2 style="color:crimson; background-color:darksalmon; padding:10px;">
    @ViewData["Greetings"]
    @ViewData["Result"]
</h2>
